/vendor/bundle
/node_modules
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
/tmp/pids/*.pid
/storage/*
!/storage/.keep
/public/assets
/public/packs
/coverage
/.env
/.env.*
/config/master.key
.DS_Store
